
/**
 * 
 */

#work-text.flipped {
  -webkit-transform: rotateX(0deg) rotateY(190deg) rotateZ(180deg);
}

#work-text .md {
  -webkit-transform: rotateY(190deg) rotateZ(180deg);
  margin-top: 800px;
}

/**
 * 
 *
 * 
 * 
 * 
 *
 * .
 * 
 *
 * 
 *
 */
